bot_username=MakeRigaBot
users_mappings=Aleksandrs Ļ.=Aleksandrs L,aleksandrs;Aleksejs I.=Aleksejs;Aleksis S.=Aleksis;Arsenijs P.=@crimier,arsenijs;Edgars G.=@Edgars008,edgars;Emils J.=@s8n_m8,emīls,emils;Guntis L.=Guntis;Helmārs R.=Helmars,helmārs;Igors M.=@possums,igors;John R.=@john_roland;Kaspars S.=@Sedlins;Krišjānis Z.=@konstruktors,krisjanis,krišjānis;Maksims M.=@Pe3ucTop,pezistors,rezistors,maksims;Māris M.=@zveerz,zverz,maris,māris;Mikelis J.=@mikijsmauss,mikelis,miķelis;Oskars C.=@fakekimjong;Pavel M.=@stalker_lv,pavel;Reinis V.=Reinis,fest,fesets;Rihards S.=@Skrubis,rihards;Ronalds B.=@RonnyLV,ronijs;Tims K.=TimKaa,tims;Zandis M.=@Aa,zandis,зандис;Žanis V.=Zhanis,žanis;Gundega B.=@MadMeoW,gundega;Jānis D.=jdat;Dieterich N.=nexus,dieterich,dietrich;Anton K.=@antonkochubey,anton;Kirils S.=rainis,zupmeistars,kirils;Māris J.=@waplet,w
bot_token=
chat_id=
home_dir=
admin_id=
